{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/">
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }

	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	      body{
	      	background-color: #256d85;
	      }
	      .pricing-header h1{
	      	color: #06283d;
	      }
	      .pricing-header p{
	      	color: #06283d;
	      }
	      form{
	      	margin-top: 50px;
	      }
	    </style>
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }

	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>

	    
	    <!-- Custom styles for this template -->
	    <link href="pricing.css" rel="stylesheet">
	  </head>
	  <body>
	  	<div>
	        <div class="bd-example">
	        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	          <div class="carousel-indicators">
	            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	          </div>
	          <div class="carousel-inner">
	            <div class="carousel-item active">
	              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image xlink:href="{% static '9060.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>

	              <div class="carousel-caption d-none d-md-block">
	                <h5>Right Connections</h5>
	                <p>Some representative placeholder content for the first slide.</p>
	              </div>
	            </div>
	            <div class="carousel-item">
	              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image xlink:href="{% static 'IMG_0422.png' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>

	              <div class="carousel-caption d-none d-md-block">
	                <h5>Global Recognition</h5>
	                <p>Some representative placeholder content for the second slide.</p>
	              </div>
	            </div>
	            <div class="carousel-item">
	              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image xlink:href="{% static 'plexus-modern-background-with-abstract-low-poly-shapes.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>

	              <div class="carousel-caption d-none d-md-block">
	                <h5>Consumer Satisfaction</h5>
	                <p>Some representative placeholder content for the third slide.</p>
	              </div>
	            </div>
	          </div>
	          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
	            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Previous</span>
	          </button>
	          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
	            <span class="carousel-control-next-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Next</span>
	          </button>
	        </div>
	        </div>
	      </div>
	    
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	  <symbol id="check" viewBox="0 0 16 16">
	    <title>Check</title>
	    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
	  </symbol>
	</svg>

	<div class="container py-3">
	  <header>
	    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
	      <h1 class="display-4 fw-normal">Services</h1>
	      <p class="fs-5 ">Sammytech Essentials functions effectively in both industrial and domestic environment conveying whatever technical know-how skills might be needed to deliver the utmost of satisfaction and professionalism to our clients and beneficiaries around the globe.</p>
	    </div>
	  </header>

	 <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Industrial Contractor</h2>
          <p>Present and past work with high respect to our industrial satisfaction and promoting our serices around the world.</p>
          <button class="btn btn-outline-light" type="button"><a style="text-decoration: none; color: inherit;" href="/industrial/">Explore...</a> </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Domestic Contractor</h2>
          <p>Clearing of faults, beautifying ones sorounding and at the same time puting clients domestic security at the top of our priorities.</p>
          <button class="btn btn-outline-secondary" type="button"><a style="text-decoration: none; color: inherit;" href="/domestic/">Explore...</a> </button>
        </div>
      </div>
    </div>
    <div class="container my-5">
	    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
	      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
	        <h1 class="display-4 fw-bold lh-1">About Us</h1>
	        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
	        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
	          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><a style="text-decoration: none; color: inherit;" href="/about/">...</a> </button>
	        </div>
	      </div>
	      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
	          <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
	      </div>
	    </div>
	  </div>
	  <form class="section2" method="post" action="{% url 'home' %}">{% csrf_token %}
	    
		<input type="text" name="email" placeholder="Email" required><br>

		<input style="margin-top: 10px;" type="text" name="title" placeholder="Title" required><br>

		<textarea style="margin-top: 10px;" rows="4" cols="50" name="question_text" placeholder="Question" required></textarea>
	      <br>
	    <button style="margin-top: 5px;" type="submit">Submit</button>
	  </form>
</body>	  
{% endblock %}
			